#!/bin/bash -ex
set -o pipefail
BACKUP_FILE="/var/ccp/backup/sahara/backup-$(date "+%Y%m%d%H%M%S").sql"
mysqldump {% if db.tls.enabled %} --ssl-mode REQUIRED {% endif %} -h {{ address("database") }} \
    -u {{ sahara.db.username }} -p{{ sahara.db.password }} \
    --single-transaction {{ sahara.db.name }} > "${BACKUP_FILE}"