#!/bin/bash -ex
set -o pipefail
BACKUP_FILE="/var/ccp/backup/sahara/backup-$(date "+%Y%m%d%H%M%S").sql"
mysqldump -h {{ address(service.database) }} \
    -u {{ sahara.db.username }} -p{{ sahara.db.password }} \
    --single-transaction {{ sahara.db.name }} > "${BACKUP_FILE}"