[DEFAULT]
debug = {{ sahara.debug }}

use_syslog = false
use_stderr = true

use_neutron = true
plugins = {{ sahara.plugins | join(',') }}

host = {{ network_topology["private"]["address"] }}
port = {{ sahara.port.cont }}

periodic_coordinator_backend_url = memcached://{{ address("memcached", memcached.port) }}
transport_url = rabbit://{{ rabbitmq.user }}:{{ rabbitmq.password }}@{{ address("rabbitmq", rabbitmq.port) }}/

heat_enable_wait_condition = {{ sahara.enable_wait_condition }}

[database]
connection = mysql+pymysql://{{ sahara.db.username }}:{{ sahara.db.password }}@{{ address(service.database) }}/{{ sahara.db.name }}{% if percona.tls.enabled %}?ssl_ca=/opt/ccp/etc/tls/ca.pem{% endif %}
max_retries = -1

{{ keystone_authtoken.keystone_authtoken(sahara.auth.user, sahara.auth.password) }}

# sahara trustor user
admin_password = {{ sahara.auth.password }}
admin_user = {{ sahara.auth.user }}
admin_tenant_name = {{ openstack.project_name }}

[oslo_messaging_notifications]
driver = noop
