[DEFAULT]
debug = {{ sahara.debug }}

use_syslog = false
use_stderr = true

use_neutron = true
plugins = {{ sahara.plugins | join(',') }}

host = {{ network_topology["private"]["address"] }}
port = {{ sahara.port.cont }}

periodic_coordinator_backend_url = memcached://{{ address("memcached", memcached.port) }}
transport_url = rabbit://{{ rabbitmq.user }}:{{ rabbitmq.password }}@{{ address("rabbitmq", rabbitmq.port) }}/

[database]
connection = mysql+pymysql://{{ sahara.db.username }}:{{ sahara.db.password }}@{{ address(service.database) }}/{{ sahara.db.name }}
max_retries = -1

[keystone_authtoken]
auth_uri = {{ address("keystone", keystone.public_port, with_scheme=True) }}
auth_url = {{ address("keystone", keystone.admin_port, with_scheme=True) }}
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = {{ openstack.project_name }}
username = {{ sahara.auth.user }}
password = {{ sahara.auth.password }}
memcached_servers = {{ address("memcached", memcached.port) }}

# sahara trustor user§
admin_password = {{ sahara.auth.password }}
admin_user = {{ sahara.auth.user }}
admin_tenant_name = {{ openstack.project_name }}

[oslo_messaging_notifications]
driver = noop
